# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data (Assuming user might not want to upload large CSVs if public repo, but usually fine for this size)
# data/
# For now we keep data as it's needed for the app to run on Streamlit Cloud

# OS
.DS_Store
Thumbs.db
